[Unit]
Description=ROS2 Bag Recorder
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/
ExecStart=/bin/bash /home/record_rosbag.sh
Restart=on-failure
RestartSec=10
StandardError=append:/var/log/rosbag-recorder.log

[Install]
WantedBy=multi-user.target