[Unit]
Description=MCS Bridge Start
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/pi/
ExecStart=/home/pi/mcs_bridge/boot/mcs_bridge_start.bash
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
